# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Poetry
poetry.lock
*.egg-info/
dist/
build/

# Test
test\

logs\

alembic\versions\

# Conda
.conda/
conda-env/

# VS Code
.vscode/
.idea/